@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: 'Cardo';
    src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
    font-family: 'TenorSans';
    src: url("../fonts/Tenor_Sans/TenorSans-Regular.ttf");
}